{
  "root": true,
  "extends": ["plugin:vue/recommended"],
  "plugins": ["vue"],
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "rules": {
    "vue/component-name-in-template-casing": 0
  }
}
